<div class="box">
	<%= form_tag({:controller => "dmsf_upload", :action => "upload_files", :id => @project, :folder_id => @folder},
		:id => "uploadform", :method=>:post, :multipart => true) do %>
<% if Setting.attachment_max_size.to_i >= 102400 %> 
	<div class="upload_select">
		<%= l(:label_file_size) %>: <select id="uploader_select"><option value="1">&lt; 100 MB</option><option value="2">> 100 MB</option></select>
	</div>
<% end %>
<h3><%= l(:heading_file_upload) %></h3>
<div style="padding-bottom: 6px; line-height: 1.4em; font-size: 0.9em;">
<span>
	<% max_file_upload = Setting.plugin_redmine_dmsf["dmsf_max_file_upload"].to_i %>
	<%= l(:note_uploaded_maximum_files_at_once, :number => max_file_upload) if max_file_upload > 0 %>
	<%= l(:note_upload_files_greater_than_two_gb) if Setting.attachment_max_size.to_i >= 2097151 %>
</span>
</div>

<div id="uploader">
<p>
<span id="uploaded_files_fields">
<%= file_field_tag("uploaded_files[1]", :size => 30, :id => nil) %>
</span>
<br />
<small><%= link_to(l(:label_add_another_file), "#", :id => 'pickfiles' ) %>
(<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)
</small>
</p>
<%= submit_tag(l(:submit_upload_files), :id => 'uploadfiles' ) %>
</div>
<% end %>
</div>

<script type="text/javascript">
	var originalUploaderContent;
	
	var uploader = jQuery('#uploader');
	
	originalUploaderContent = uploader.html();
	
	jQuery('#uploader_select').change(function() {
		if(jQuery(this).val() == 2) {
			uploader.html(originalUploaderContent);
		} else {
			initPlUploader(uploader);
		}
	});
	
	initPlUploader(uploader);
	
	var dmsfFileFieldCount = 1;
</script>

<% content_for :header_tags do %>
	<%= javascript_include_tag "plupload/plupload.full.min.js", :plugin => "redmine_dmsf" %>
	<%= javascript_include_tag "plupload/moxie.min.js", :plugin => "redmine_dmsf" %>
	<%= javascript_include_tag "plupload/test.js", :plugin => "redmine_dmsf" %>
	<%= javascript_include_tag("plupload/i18n/#{I18n.locale.to_s.downcase}.js", :plugin => "redmine_dmsf") if I18n.locale && !I18n.locale.to_s.match(/^en.*/) %>
	
	<script type="text/javascript">
	function initPlUploader(uploader) {
		uploader.html("<div></div>");
		uploader = jQuery("div",uploader);
		uploader.pluploadQueue({

			runtimes : 'html5,flash,silverlight,html4',
			container : 'uploader',
			url : '<%= url_for({:controller => "dmsf_upload", :action => "upload_file", :id => @project}) %>',
			flash_swf_url : '<%= plugin_asset_path(:redmine_dmsf, "javascripts", "plupload/Moxie.swf") %>',
			silverlight_xap_url : '<%= plugin_asset_path(:redmine_dmsf, "javascripts", "plupload/Moxie.xap") %>',
			resize : {width : 320, height : 240, quality : 90},
			max_file_size : '100mb',
			multipart : true,
			multipart_params : {authenticity_token : jQuery("input[name=authenticity_token]").val()},
//			rename: true,
			init: {
				PostInit: function() {
					jQuery('#filelist').innerHTML = '';
					jQuery('#uploadfiles').click(function() {
						var uploader = jQuery('#uploader').pluploadQueue();

			                        // Files in queue upload them first
			                        if (uploader.files.length > 0) {
			                            // When all files are uploaded submit form
			                                uploader.bind('StateChanged', function() {
			                                        if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                        			                        jQuery('#uploadform')[0].submit();
			                                        }
			                                });

			                                uploader.start();
			                        } else {
			                                alert('You must queue at least one file.');
			                        }

			                        return false;
					});
				},

				FilesAdded: function(up, files) {
					plupload.each(files, function(file) {
						jQuery('#filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
					});
				},
				FileUploaded: function(up, file, info) {
					var pluploader = up;
					var responseObject = jQuery.parseJSON(info.response);
	                                if (responseObject == null) { //Bug: on Firefox folders entries act unexpectedly.
        	                                file.status = plupload.FAILED;
                	                        pluploader.trigger('UploadProgress', file);
                        	                pluploader.trigger('QueueChanged');
					} else {
						if (responseObject.error == null) {
                                                	var disk_filename_input = jQuery("<input/>").attr("type","hidden")
                                                       		.attr("name","uploaded[" + dmsfFileFieldCount + "][disk_filename]")
                                                       		.val(responseObject.disk_filename);
	                                                uploader.append(disk_filename_input);
        	                                        var content_type_input = jQuery("<input/>").attr("type","hidden")
                	                                        .attr("name","uploaded[" + dmsfFileFieldCount + "][content_type]")
                        	                                .val(responseObject.content_type);
                                	                uploader.append(content_type_input);
                                        	        var original_filename_input = jQuery("<input/>").attr("type","hidden")
                                                	        .attr("name","uploaded[" + dmsfFileFieldCount + "][original_filename]")
                                                       		.val(responseObject.original_filename);
	                                                uploader.append(original_filename_input);
        	                                } else {
                	                                file.status = plupload.FAILED;
                        	                      responseObject.error.file = file;
                                	              pluploader.trigger('Error', responseObject.error);
                                        	        pluploader.trigger('UploadProgress', file);
	                                                pluploader.trigger('QueueChanged');
        	                                }
                	                }
	                                if(pluploader.total.uploaded == pluploader.files.length) jQuery('#uploadform').submit();
        	                        else if(pluploader.total.uploaded + pluploader.total.failed == pluploader.files.length) setTimeout(function() {jQuery('#uploadform').submit();}, 2000)
                	                else dmsfFileFieldCount++;
                        	        return true;
				},

				Error: function(up, err) {
					jQuery('#console').html( jQuery('#console').html() + "\nError #" + err.code + ": " + err.message );
				}
			}
		});
	}
	</script>
<% end %>
